.gif-list{
  float: left;
}

.gif-search{
  float: right;
}

.gif {
  height: 200px;
  width: auto;
}

.submit-button {
  background-color: green;
  color: white;
  text-decoration: bold;
}

.container {
  margin: 50px;
}

ul {
  list-style-type: none;
}
